<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('burger_list') }}">Burgers</a></li>
            <li><a href="{{ path('oignon_list') }}">Oignons</a></li>
            <li><a href="{{ path('pain_list') }}">Pains</a></li>
            <li><a href="{{ path('sauce_list') }}">Sauces</a></li>
        </ul>
    </nav>
</header>